* {
  font-family: "GenSenRounded-R","源泉圓體 R",sans-serif;
  text-align: center;
  text-decoration: none;
}
body {
  margin: 0;
}
.onehundredpercentuwu {
  top: 0px;
  width: 100%; 
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;  
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
div#title {
  font-family: 'GenSenRounded-B','源泉圓體' !important;
  position: relative; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-image: url("header.jpg");
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: black;
  cursor: pointer;
}
div#root {
  font-size: 25px
}
div#cre {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(./creative.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}
div#surv {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(./survival.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}
div#ancient {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(./ancient.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}
a {
  color: #ddd;
}
div#footer {
  font-size: 30px;
  background-color: #333;
  color: white;
  width: auto;
  height: auto;
}
img.valmiddle {
  vertical-align: middle;
}